* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: purple;
}

main {
  height: calc(100% - 90px);
}
/* UTILITY */

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* NAVIGATORE A SINISTRA */
.main_nav {
  float: left;
  width: 250px;
  height: 100%;
}

.flex-container-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: black;
}

/* Top nav logo e menù */
.flex-items-menu {
  overflow: hidden;
  height: 25%;
  width: 80%;
}

.flex-items-playlist {
  overflow: auto;
  padding-top: 25px;
  height: 65%;
  width: 80%;
}

.flex-items-account {
  overflow: hidden;
  height: 10%;
  width: 80%;
}

.logo {
  max-width: 80%;
  padding: 10px;
}

.home,
.account {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.home img,
.account img  {
  max-height: 30px;
  align-self: flex-start;
}
.home a,
.account a {
  text-decoration: none;
  color: grey;
  align-self: center;
  padding-left: 5px;
  font-size: 18px;
}
.home a:hover {
  font-weight: bold;
  color: white;
}
.home:hover {
  border-left: 2px solid;
  border-left-color: rgb(89, 255, 62);
}

/* Sezione playlist */
.flex-items-playlist h3 {
  color: white;
}
.flex-items-playlist h3 a {
  margin-left: 10px;
}

.playlist_plus {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 20px;
}

.create_playlist {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: grey;
}

i.fas.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
}

.playlist_text,
.install_app {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
}
.playlist_text a,
.install_app a {
  text-decoration: none;
  color: grey;
  align-self: center;
  padding-left: 5px;
  font-size: 18px;
}
.playlist_text a:hover,
.install_app a:hover {
  color: white;
}
.lista ul li {
  margin-left: 10px;
  line-height: 200%;
  list-style: none;
}
.lista li a {
  text-decoration: none;
  color: grey;
}
.lista li a:hover {
  color: white;
}

.install_app {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.install_app i {
  color: grey;
}

/* Sezione installa-account */

.account img  {
  background-color: grey;
  border-radius: 50%;
  padding: 5px;
}
.account a {
  color: white;
}


/* MAIN CONTENT */
.main_content {
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  background-color: #141922;
}


/* UPGRADE */
.upgrade {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  background-color: #080b12;
}
#upgrade_btn {
  padding: 10px;
  border-radius: 15px;
  border-color: white;
  color: white;
  background-color: transparent;
  align-self: center;
  margin-right: 10px;
}

/* MENU DISCOVER */
.discover {
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #141922;

}

.discover ul li {
  display: inline;
  list-style: none;
}
.discover ul li a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  color: grey;
  padding: 5px;
}

.discover ul li a:hover {
  border-bottom: 2px solid;
  border-bottom-color: rgb(89, 255, 62);
}

/* SEZIONE ALBUM  MUSICA */

.recently_played {
 display: flex;
 align-self: flex-start;
 justify-content: space-between;
 flex-wrap: wrap;

}

.album_recent,
.album_suggested,
.album_popular {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
}

.suggested,
.popular_artist {
 display: flex;
 align-self: flex-start;
 justify-content: flex-start;
 flex-wrap: wrap;
}

.album_suggested {
  margin: 10px;
}

.album_popular {
  margin: 10px;

}
.album_popular img {
  border-radius: 50%;
}

.album_image {
  margin-left: 20px;
}

.album_image img {
  max-height: 150px;
}

.album_container h2 {
  color: white
}
.album_title,
.subtitle {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.album_title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}

.subtitle {
  font-size: 15px;
  color: grey;
}
 .subtitle_playlist {
   margin-top: 20px;
   margin-left: 20px;
   color: grey;
   line-height: 180%;
 }


 /* Hover */
 .ms_layover,
 .ms_layover_rounded {
   position: absolute;
   left: 20px;
   width: 150px;
   height: 150px;
   opacity: 0;
 }
 .ms_layover:hover,
 .ms_layover_rounded:hover {
   opacity: 1;
   background-color: rgba(0, 0, 0, 0.5);
 }

.ms_layover_rounded {
  border-radius: 50%;
}

 .play {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 60px;
   color: white;
 }



/* FOOTER */
footer {
  height: 90px;
}

.flex-container-footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  background-color: black;
}

.flex-items {
  height: 50px;
  width: 250px;
  align-self: center;
}

.flex-items.left,
.flex-items.middle,
.flex-items.right {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
}
.left img {
 height: 100%;
}

.flex-items.middle {
  flex-direction: column;
  flex-grow: 2;
}

.audio_top,
.audio_bottom {
  align-self: center;
  height: 25px;
}
.audio_top i,
.right i {
  align-items: center;
  padding-right: 25px;
  color: white;
}

.audio_bottom {
  margin-top: 8px;
}
.audio_bottom span {
  color: white;
}

i#play {
  font-size: 25px;
}

.time::after,
.right::after {
content: "";
display: inline-block;
width: 200px;
height: 5px;
line-height: 5px;
border-radius: 20px;
vertical-align: middle;
background-color: lightgrey;
margin: 8px;
align-self: center;
}

.right i {
  align-self: center;
}
.artista {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.artista a {
  text-decoration: none;
  color: white;
  align-self: left;
  padding-left: 5px;
}

@media screen and (min-width: 1010px) and (max-width: 1200px) {

  .recently_played {
    justify-content: flex-start
  }
  .album_recent {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1118px) {

  .album_recent {
    margin: 20px 10px;
  }

  .album_image img {
    height: 160px;
  }

}

@media screen and (max-width: 982px) {

.album_container {
  margin-top: 30px;
}

.discover {
  line-height: 40px;
}

.album_container {
  justify-content: space-around;
  align-items: center;
}
}
